{{ define "main" }}
<div class="bottle-list">
    <h1>{{ .Title }}</h1>
    <div class="bottle-grid">
        {{ range .Pages }}
        <article class="bottle-card">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ with .Params.featured_image }}
            <img class="corner" src="{{ . | relURL }}" alt="{{ $.Title }}">
            {{ end }}
            <div> <p> <strong> {{ .Params.rank }} </strong> out of <strong>5</strong></p> </div>
            <strong>reviews {{ .Params.reviews }} </strong>
            <p>our best price</p>
            <strong>{{ .Params.price }}</strong>            
            <p>{{ .Description }}</p>
            <div class="button-showcase">
                <a href="{{ .RelPermalink }}" class="btn-primary">Buy now</a>
                <a href="{{ .RelPermalink }}" class="btn-secondary">View Bottle</a>
            </div>        
        </article>
        {{ end }}
    </div>
</div>
{{ end }}
